@import "elements.less";
@import "normalize.css";



@menucolour: #3D423C;
@popoutcolour: #A44F58;
@bodybg: #EDEDED;
@expandedpane: #E0E0E0;
@previewpane: #A7A7A7;


body{
    background-color: @bodybg;
    height: 100%;
}

#wrapper {
    position:absolute; 
    top:0; 
    bottom:0; 
    left:0; 
    right:0;
    background-color: @previewpane;
}

button{
    padding:10px 20px;
}

.clear{
    display: block;
    width: 100%;
    clear: both;
}

h1,h2,h3{
    font-weight: normal;
}
h1{
    font-size:30px; 
    font-weight: normal;  
}

h2{
    font-size:16px; 
    font-weight: normal; 
    margin-top:0px;
}


/*New styles*/





.tool_panel{
    
    max-width:100px; 
    width:100%;
    height: 100%;
    background-color: #A9181F;
    color: #fff;
    float: left;
    position: fixed;
    z-index: 300;
     
    
    .tool{ 
        max-width:50px;
        width:100%;
        text-align: center; 
        margin:20px auto; 
        cursor: pointer;
        .fa{
            font-size:30px; 
            margin: 10px 0px;
        }
        
    }
}

.expanded_pane{
    float: left;
    max-width: 380px;
    width:100%;
    background-color: @expandedpane;
    color: #FFF;
    height: 100%;
    display:none;
    padding:20px;
    box-sizing: border-box;
    margin-left:100px;
    
    /*CSS3 animation*/
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-name: fadeInLeft; 
    animation-name: fadeInLeft; 
    
    h2.title{
        text-align: center;
        margin-top:20px;
        color: #000000;
    }
    
    &.styles{
        color: #000000;
    }
    &.blocks{
        #Thumbs{
            img{
                width:100%; 
            }
        }
        overflow-y: scroll;
    }
    
    #font_color{
        float: right;
        display: inline-block;
    }
    
    #bg_color{
        float: left;
        display: inline-block;
    }
    
    #bg_color_selector,#font_color_selector{
        background-color: #ffffff;
        height: 40px;
        width:150px;
        float: left;
        div{
            height: 40px;
            line-height: 40px;
            font-size: 12px;
            text-align: center;
        }
    }
    #bg_removebtn{
        color: black;
        height: 24px;
        margin-bottom: 25px;
        float: left;
        margin-bottom: 0px;
        font-size: 12px;
        line-height: 5px;
        width: 150px;

    }
}

.preview_area{
    background-color: @previewpane;
    width: 100%;
    height: 100%;
    
    table{
        margin: 0 auto;
        color:#ffffff;
    }

}


.expanded_pane{
    
    .font_styles{
        
        input,select{
            width:100%
        }
        
        h3{
            color:  #000000!important;
            margin-bottom:5px;
            font-size:12px;
        }
        
        span{
            font-size:14px;
        }
        
        input[type="radio"] {
            display: inline;
            width: auto;
        }
        
    }
    
    .custom_styles{
        h3{
            display: inline-block;
            margin:10px 0px;
        }
        i{
            margin-left:10px;
        }
        textarea{
            display: inline-block;
            width: 100%;
            min-height: 200px;
            margin: 0px;
        }
    }
    
}

.outline_td {
    outline: 2px dotted #99ccff;
}



@-webkit-keyframes fadeInLeft { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateX(-20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateX(0); 
    } 
} 
@keyframes fadeInLeft { 
    0% { 
        opacity: 0; 
        transform: translateX(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateX(0); 
    } 
} 













